<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="CShells Preview" value="https://f.feedz.io/valence-works/cshells/nuget/index.json" />
    <add key="Elsa 3 Preview" value="https://f.feedz.io/elsa-workflows/elsa-3/nuget/index.json" />
    <add key="Groundwork Preview" value="https://f.feedz.io/valence-works/groundwork/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Anthropic" />
      <package pattern="coverlet.*" />
      <package pattern="ConsoleLogStreaming.*" />
      <package pattern="Cronos" />
      <package pattern="DistributedLock.*" />
      <package pattern="Fluid.*" />
      <package pattern="Jint" />
      <package pattern="Microsoft.*" />
      <package pattern="MongoDB.*" />
      <package pattern="Newtonsoft.*" />
      <package pattern="Npgsql" />
      <package pattern="Nuplane" />
      <package pattern="Nuplane.*" />
      <package pattern="OpenIddict" />
      <package pattern="OpenIddict.*" />
      <package pattern="System.*" />
      <package pattern="Testcontainers.*" />
      <package pattern="Ulid" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
    </packageSource>
    <packageSource key="CShells Preview">
      <package pattern="CShells" />
      <package pattern="CShells.*" />
    </packageSource>
    <packageSource key="Elsa 3 Preview">
      <package pattern="Elsa.Platform.*" />
    </packageSource>
    <packageSource key="Groundwork Preview">
      <package pattern="Groundwork.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
